* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.background {
  width: 100vw;
  height: 100vh;
}

.frame-uno {
  width: 100%;
  height: 50%;
  background-color: #567f91;
  display: flex;
  align-items: flex-end;
}

.frame-uno img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -2rem;
}

.frame-dos {
  width: 100%;
  height: 40%;
  background-color: #fdd03b;
  margin: auto;
}
.frame-dos img {
  width: 30%;
  height: auto;
  display: block;
  margin: auto;
  padding: 1rem 0;
}

.frame-dos p {
  color: #00202e;
  font-family: "Covered By Your Grace", cursive;
  text-align: center;
  font-size: 4rem;
}

.frame-tres {
  background-color: #fdd03b;
  width: 100%;
  height: 10%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-tres span {
}

.icon {
  padding: 0 1rem;
  color: #7de8ea;
}

@media screen and (max-width: 425px) {
  .frame-uno img {
    bottom: -0.5rem;
  }

  .frame-dos p {
    font-size: 2rem;
  }
  .frame-tres span img {
    width: 80%;
  }
}
